.hiddenColumn {
     visibility: hidden;
     width: 0 !important;
     padding: 0 !important;
     margin: 0 !important;
     display: none;
}

thead,
tbody,
tfoot,
tr,
td,
th {
     border-color: inherit;
     border-style: solid;
     border-width: 1px;
}