@import "../node_modules/bootstrap/dist/css/bootstrap-themes.css";

html,
body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ===== Scrollbar CSS ===== */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2fa4e7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2fa4e7ff;
}

/* ===== END Scrollbar CSS ===== */

.icon-theme {
    color: var(--link-color-theme) !important;
    cursor: pointer;
}

.nav-user-name {
    color: #000;
}

.login-section,
.register-section {
    background: var(--bg-main);
}

.login-section>.container,
.register-section>.container {
    margin-top: -3.5rem !important;
}

.nav-container {
    padding: 1.3rem;
}

.navbar-container {
    -webkit-box-shadow: 0px 8px 10px -4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 8px 10px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 10px -4px rgba(0, 0, 0, 0.1);
}

.nav-container>.nav-title {
    font-size: xx-large;
}

.nav-container>.nav-subtitle {
    font-size: medium;
}

main {
    background-color: var(--bg-main);
}

.profile-dropdown>div.dropdown-menu.show {
    left: -160px !important;
    width: 210px;
    margin-top: 1rem;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
    gap: .3rem;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item>span {
    padding-left: 1rem;
}

.sidebar-menu-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-header-icons {

    width: 4%;
}

.bi.bi-trash {
    color: red;
}

.table-row-icons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    cursor: pointer;
}

.pagination-footer,
.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.show-per-page,
.search-bar-right-icons {
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.form-select:focus,
.form-control:focus {
    box-shadow: none !important;
}

.buttons-section {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.buttons-section>button,
.buttons-section>.btn {
    min-width: 10rem !important;
}

.modal-custom>.modal-dialog>.modal-content>.modal-header {
    border-bottom: none;
}

.modal-custom>.modal-dialog>.modal-content>.modal-footer {
    border-top: none;
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;
}

.modal-custom-content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal-custom-header-content {
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    color: var(--bs-gray-700);
}

.modal-md {
    --bs-modal-width: 400px !important;
}

.modal-custom-content-container>.modal-custom-image>svg {
    color: #dc3545;
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #0d6efd;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

.loading-state {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #ddd;
    border-top-color: orange;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

.avatar {
    vertical-align: middle;
    width: 37px;
    height: 37px;
    border-radius: 50%;
}

.dropdown-language:hover,
.dropdown-language {
    background: none;
}

.dropdown-language.dropdown-toggle::after {
    display: none;
}