:root,
[data-bs-theme=light] {
     --bg-sidebar: #fff;
     --bs-dropdown-link-hover-bg: #2fa4e7;
     --ps-menu-button-color-text: #495057;
}

[data-bs-theme=dark] {
     --bg-sidebar: #212529;
     --bs-dropdown-link-hover-bg: #2fa4e7;
     --ps-menu-button-color-text: #fff;
}

.ps-menu-button {
     color: var(--ps-menu-button-color-text) !important;
}

.ps-menu-icon {
     margin-left: -4px !important;
}

.ps-menuitem-root.pro-sidebar-header {
     padding-top: 10px;
}

.pro-sidebar-header {
     border-bottom: 1px solid #eee;
     padding-bottom: .35rem;
}

.ps-sidebar-container {
     background: transparent !important;
}

.ps-menu-button:hover,
.ps-menu-button.link:hover,
.ps-menu-button.ps-active.link {
     background: var(--bs-dropdown-link-hover-bg);
     color: #fff !important;
}

.ps-menu-button:hover {
     background: var(--bs-dropdown-link-hover-bg) !important;
}

.ps-submenu-content.ps-open {
     background-color: var(--bg-sidebar) !important;
}